<a href="https://colab.research.google.com/github/andersonnb6/ColabPython-Tutoriais/blob/main/Manipulando_GSheets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Manipulando GSheets com Google Colab (Python)**

## Preparando ambiente
Ao executar esta etapa será gerado um link para autenticação. O link abrirá uma página com um código de autendicação que deve ser inserido na saída do comando.

In [1]:
# Atualizar pacote necessário para ler .gsheets
%pip install --upgrade gspread

# Autenticar acesso na sua conta google para acessar arquivos
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

Requirement already satisfied: gspread in /usr/local/lib/python3.7/dist-packages (5.1.1)
Requirement already satisfied: google-auth>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from gspread) (1.35.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from gspread) (0.4.6)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.8)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (57.4.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.0.4)

## Carregando e Manipulando GSheets

In [2]:
# Carregando dados
planilha = gc.open('db_mtcars')

In [3]:
# Especificando o uso da primeira aba da planilha
df_aba1 = planilha.sheet1

In [4]:
# Mostrando primeira linha
df_aba1.row_values(1)

['model',
 'mpg',
 'cyl',
 'disp',
 'hp',
 'drat',
 'wt',
 'qsec',
 'vs',
 'am',
 'gear',
 'carb']

In [5]:
# Mostrando valor de célula específica (Modo 1)
df_aba1.acell('A2').value

'Mazda RX4'

In [6]:
# Mostrando valor de célula específica (Modo 2)
df_aba1.cell(2,1).value # (linha, coluna)

'Mazda RX4'

In [7]:
# Atualizar valor de uma célula
df_aba1.update('M1','Testando')

{'spreadsheetId': '1vVJNV9g1I6L9piR8iSG0OlgpHwle8pkBL0i8D-nX_Ok',
 'updatedCells': 1,
 'updatedColumns': 1,
 'updatedRange': "'Página1'!M1",
 'updatedRows': 1}

In [8]:
# Apagar valor de uma célula
df_aba1.update('M1','')

{'spreadsheetId': '1vVJNV9g1I6L9piR8iSG0OlgpHwle8pkBL0i8D-nX_Ok',
 'updatedCells': 1,
 'updatedColumns': 1,
 'updatedRange': "'Página1'!M1",
 'updatedRows': 1}

## Convertendo GSheets em datraframe Pandas

In [9]:
# Importando Pandas
import pandas as pd

In [10]:
# Convertendo em dataframe Pandas
df_aba1_pandas = pd.DataFrame(df_aba1.get_all_records())

In [11]:
# Mostrando dataframe no formato Pandas
df_aba1_pandas.head()

               model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

## Exportando do Pandas para GSheets

In [12]:
# Filtrando dados mpg > 30
df_aba1_pandas_filtered = df_aba1_pandas.query('mpg>30')
df_aba1_pandas_filtered.head()

             model   mpg  cyl  disp   hp  ...   qsec  vs  am  gear  carb
17        Fiat 128  32.4    4  78.7   66  ...  19.47   1   1     4     1
18     Honda Civic  30.4    4  75.7   52  ...  18.52   1   1     4     2
19  Toyota Corolla  33.9    4  71.1   65  ...  19.90   1   1     4     1
27    Lotus Europa  30.4    4  95.1  113  ...  16.90   1   1     5     2

[4 rows x 12 columns]

In [13]:
# Descobrindo tamanho do dataframe filtrado (4x12)
df_aba1_pandas_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 17 to 27
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   4 non-null      object
 1   mpg     4 non-null      float64
 2   cyl     4 non-null      int64
 3   disp    4 non-null      float64
 4   hp      4 non-null      int64
 5   drat    4 non-null      float64
 6   wt      4 non-null      float64
 7   qsec    4 non-null      float64
 8   vs      4 non-null      int64
 9   am      4 non-null      int64
 10  gear    4 non-null      int64
 11  carb    4 non-null      int64
dtypes: float64(5), int64(6), object(1)
memory usage: 416.0+ bytes

In [14]:
# Criando nova aba no .gsheets para inserir dados filtrados
# Se já houver uma aba com o mesmo nome dará erro
new_aba = planilha.add_worksheet(title="Nova_Aba", rows="4", cols="12")

In [15]:
# Enviando dados filtrados para nova aba do gsheets
new_aba.update([df_aba1_pandas_filtered.columns.values.tolist()] + df_aba1_pandas_filtered.values.tolist())

{'spreadsheetId': '1vVJNV9g1I6L9piR8iSG0OlgpHwle8pkBL0i8D-nX_Ok',
 'updatedCells': 60,
 'updatedColumns': 12,
 'updatedRange': 'Nova_Aba!A1:L5',
 'updatedRows': 5}